.popup__signup-title {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@media screen and (max-width: 767px) {.popup__signup-title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}}
