.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin-bottom: 31.6px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
