.elements__list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  justify-items: center;
}

@media screen and (max-width: 1023px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 582px;
  }
}

@media screen and (max-width: 767px) {
  .elements__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
