.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s linear;
  display: flex;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
