.elements__delete-button {
  background-color: transparent;
  background-image: url(../../../images/delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 19.3px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.elements__delete-button:hover {
  opacity: 0.6;
}
