.profile__add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-image: url(../../../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 0;
    width: 100%;
    margin-top: 36px;
  }
}
